.emissions-section {
  margin: 1em;
}

#modify-emissions {
  box-sizing: content-box !important;
  font-size: 12px;
  border: 1px dotted #aaa;
  padding: 10px;
}

#modify-emissions .row {
  margin-bottom: 12px;
  background-color: #EAEAEA;
  padding: 4px 0;
}

form#modify-emissions input[type=number] {
  height: 29px;
  padding: 0 5px;
}

.content {
  margin: 3em;
  margin-right: 3em;
}

.emissions-results {
  padding: 0.5em 1em;
  color: #000;
}

.emissions-buttons {
  margin-top: 1em;
  margin-bottom: 1em;
  position: absolute;
  right: 0;
  bottom: 0;
}

#emissionsBtns {
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
}

#location-section button, #other-options button {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: center;
}

.modifyDiv {
  display: flex;
  align-items: center;
}

.radio-label {
  margin-left: 2px;
}

.modifyHeading {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}

#applychanges {
}

/* <----------------------------tab styles----------------------------> */
/* .mat-align-tabs{
  justify-content: center; align items in Main Axis
  flex: 1 0.5 auto;
} */

/* ::ng-deep .mat-tab-label {
  padding: 72px !important; 
  justify-content: center !important;
}

::ng-deep .mat-tab-label-active{
  border-bottom: green;
  border-bottom-width: 10px;
} */

/* mat-tab-group{
  padding: 4% 11%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

/* Styles for tab labels */
/* ::ng-deep .mat-tab-label {
  min-width: 25px !important;
  padding: 250px;
  background-color: transparent;
  font-weight: 700;
} */

/* Styles for the active tab label */
/* .mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  font-weight: 700;
} */

.mat-ink-bar {
  background-color: #18b580 !important;
}

/* <------------------------------------Tabs------------------------------------> */
/* <----------------------------customize Kendo tabs----------------------------> */
#tab_container {
  margin: 15px 0 10px 0;
}

kendo-treeview.k-widget.k-treeview {
    height: 430px;
}

.k-content {
  margin: 0;
  height: 600px;
  overflow: scroll;
}

.k-tabstrip .k-content {
  border-color: rgba(107,107,107,0.6);
}

.k-tabstrip-items {
  border-color: rgba(107,107,107,0.6);
}

/* .k-tabstrip-items .k-item {
  background-color: rgba(102,47,141, 0.2);
  background-color: rgba(107,107,107,0.1);
} */

.k-tabstrip-items .k-item.k-state-active, .k-tabstrip-items .k-item.k-state-selected {
  border-color: rgba(107,107,107,0.6);
  color: #656565;
  
}

.k-tabstrip-items .k-link {
  padding: 6px 15px;
  color: #098e60;
  font-size: 14px;
  font-weight: 500;
}
/* <--------------------------customize Kendo tabs/end--------------------------> */
/* <----------------------------------Tabs/end----------------------------------> */

/* <-------------------------------Media Queries-------------------------------> */
@media (min-width: 958px) {
  /*#modify-emissions {
    min-width:825px;
  }*/
  #location-section {
    min-width: 300px;
  }
  #tier-section {
    min-width: 375px;
  }
}

@media (max-width: 768px ) {
    *, ::after, ::before {
    box-sizing: content-box !important; 
  }
}

@media (max-width: 360px ) {
  #modify-emissions * {
    padding-bottom: 0.25em;
  }
}


/* RADIO BUTTONS */
.switch-field {
    display: flex;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e9e9e9;
    color: #156ca5;
    font-size: 11px;
    line-height: 1;
    text-align: center;
    padding: 8px 10px;
    margin-right: -1px;
    border: 1px solid #156ca5;
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #156ca5;
    box-shadow: none;
    color: #FFFFFF;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}