<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v13.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
			<provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="COBRA.Properties.Settings.cobraConnectionString" connectionString="data source=&quot;D:\Users\PerteaD\cobra\COBRA\data\cobra.db&quot;" providerName="System.Data.SQLite" />
		<add name="cobraEntities" connectionString="metadata=res://*/units.COBRAModel.csdl|res://*/units.COBRAModel.ssdl|res://*/units.COBRAModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;D:\Users\PerteaD\cobra\COBRA\data\cobra.db&quot;'" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Projections" publicKeyToken="272632bddd08a38b" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Data" publicKeyToken="c29dbf30e059ca9d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Topology" publicKeyToken="a66b5e9434ca3671" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Serialization" publicKeyToken="441f200f827611e7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Symbology" publicKeyToken="6178c08da7998387" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Data.Forms" publicKeyToken="53ab5a198378d4c1" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Extensions" publicKeyToken="4d9e49339a7d240c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Projections.Forms" publicKeyToken="52099474f11b7ff0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Symbology.Forms" publicKeyToken="0544cdeefb662382" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Modeling.Forms" publicKeyToken="712bef29a31a9354" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Mono" publicKeyToken="425ba4de41127026" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite.EF6" />
			<add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
	<appSettings>
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
	</appSettings>
</configuration>