
*.v2
/.vs



packages/
utility/
bin/
obj/
data/
outputs/

cobra_console/cobradata_log.ldf
cobra_console/cobradata.mdf
cobra_console/test/

data/cobradata_log.ldf
data/cobradata.mdf
appData/cobradata_log.ldf
appData/cobradata.mdf

Dotspatial/
Progress/
installer/
data load/
input files/
avert scenarios/
