<div class="margTop">
  <button kendoButton (click)="command({ action: 'base', param1: $event })">Download Base Emissions</button>  <button kendoButton (click)="command({ action: 'control', param1: $event })">Download Control Emissions</button>
</div>

<div class="row content">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 main-section margTop">
    <table *ngIf="this.results_for_table.length > 0" style="margin: 0 auto; border: 1px solid #ddd;">
      <tbody *ngIf="this.results_for_table.length > 0">
        <tr style="font-weight: bold;">
          <td>State</td>
          <td>County</td>
          <td>Emissions Tier</td>
          <td>NOx</td>
          <td>SO2</td>
          <td>PM25</td>
          <td>VOC</td>
          <td>NH3</td>
        </tr>
        <tr *ngFor = "let changes of this.results_for_table">
          <td>{{changes.state}}</td>
          <td *ngIf="changes.county != undefined">{{changes.county}}</td>
          <td *ngIf="changes.county == undefined">All Counties</td>
          <td>{{changes.tier1name}}</td>
          <td>
            <span *ngIf="+(changes.deltaNO2.toFixed(2)) > 0">+</span><span *ngIf="+(changes.deltaNO2.toFixed(2)) != 0">{{changes.deltaNO2.toFixed(2)}} <span *ngIf="changes.units.NOX_unit == 'tons'"> tons</span><span *ngIf="changes.units.NOX_unit == 'percent'"> %</span></span>
            <span *ngIf="+(changes.deltaNO2.toFixed(2)) == 0">--</span>
          </td>
          <td>
            <span *ngIf="+(changes.deltaSO2.toFixed(2)) > 0">+</span><span *ngIf="+(changes.deltaSO2.toFixed(2)) != 0">{{changes.deltaSO2.toFixed(2)}}<span *ngIf="changes.units.SO2_unit == 'tons'"> tons</span><span *ngIf="changes.units.SO2_unit == 'percent'"> %</span></span>
            <span *ngIf="+(changes.deltaSO2.toFixed(2)) == 0">--</span>
          </td>
          <td>
            <span *ngIf="+(changes.deltaPM25.toFixed(2)) > 0">+</span><span *ngIf="+(changes.deltaPM25.toFixed(2)) != 0">{{changes.deltaPM25.toFixed(2)}}<span *ngIf="changes.units.PM25_unit == 'tons'"> tons</span><span *ngIf="changes.units.PM25_unit == 'percent'"> %</span></span>
            <span *ngIf="+(changes.deltaPM25.toFixed(2)) == 0">--</span>
          </td>
          <td>
            <span *ngIf="+(changes.deltaVOC.toFixed(2)) > 0">+</span><span *ngIf="+(changes.deltaVOC.toFixed(2)) != 0">{{changes.deltaVOC.toFixed(2)}}<span *ngIf="changes.units.VOC_unit == 'tons'"> tons</span><span *ngIf="changes.units.VOC_unit == 'percent'"> %</span></span>
            <span *ngIf="+(changes.deltaVOC.toFixed(2)) == 0">--</span>
          </td>
          <td>
            <span *ngIf="+(changes.deltaNH3.toFixed(2)) > 0">+</span><span *ngIf="+(changes.deltaNH3.toFixed(2)) != 0">{{changes.deltaNH3.toFixed(2)}}<span *ngIf="changes.units.NH3_unit == 'tons'"> tons</span><span *ngIf="changes.units.NH3_unit == 'percent'"> %</span></span>
            <span *ngIf="+(changes.deltaNH3.toFixed(2)) == 0">--</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<div style="text-align: center;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 main-section">
</div>
 </div>

<div class="row justify-content-center margTop">
  <button class="btn btn-outline-primary" kendoButton (click)="command({ action: 'go', param1: $event })">Run Scenario</button>
</div>
