.short-div {
  height:50%; 
}

.emissions-section {
  border: 1px solid black;
  margin: 1em;
}
#modify-emissions {
  box-sizing: content-box !important;
}

.content {
  margin: 3em;
  margin-right: 3em;
}

.emissions-results, .emissions-section {
  padding: 1em;
}
.emissions-buttons {
  margin-top: 1em;
  margin-bottom: 1em;
  position: absolute;
  right: 0;
  bottom: 0;
}


#location-section button, #tier-section button, #modify-emissions button, #other-options button {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

@media (min-width: 958px) {
  #modify-emissions {
    min-width:825px;
  }
  #location-section {
    min-width: 300px;
  }
  #tier-section {
    min-width: 375px;
  }


}
@media (max-width: 768px ) {
    *, ::after, ::before {
    box-sizing: content-box !important; 
  }
}

@media (max-width: 360px ) {
  #modify-emissions * {
    padding-bottom: 0.25em;
  }
}
