/* Hide input spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* -------------------------------------- panel A -------------------------------------- */

.states_tree_view {
	height: 245px;
	margin: 12px 0 0 0;
	padding-top: 6px;
	overflow: scroll;
	overflow-x: hidden;
	border: solid 1px #a3a3a3;
	background-color: #fff;
}

#select_all_btn, #clear_btn_1 {
	cursor: pointer;
}
/* ------------------------------------ panel A/end ------------------------------------ */

/* -------------------------------------- panel C -------------------------------------- */

.emissions_error_message {
	font-size: 15px;
	font-weight: 700;
	color: #b50909;
}
/* ------------------------------------ panel C/end ------------------------------------ */


