/*
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
*/

/* --- EPA PADDING RESET --- */
dd, ol, p, ul, .fieldset-description, .form-actions, .form-item, .pane-content > .node, .node-teaser, .view-mode-teaser:not(.file), 
.view-mode-teaser2, .view-mode-title2, ul.accordion ul, section dd, section ol, section p, section ul, section .fieldset-description, 
section .form-actions, section .form-item, section .pane-content>.node, section .node-teaser, section :not(.file).view-mode-teaser, 
section .view-mode-teaser2, section .view-mode-title2, section ul.accordion ul {
   padding-bottom: 0;
}


/* --- CLARITY OVERRIDES --- */
body {
   @include u-text('ink');
}

body p {
   font-size: inherit; 
   line-height: inherit; 
   @include u-text('ink');
}

clr-icon.is-info {
   fill: $cobra-dark-blue;
}

clr-modal .modal-header--accessible .modal-title {
   @extend .usa-prose;
   @include u-font('sans','md');
   @include u-line-height('sans',3);
   font-weight: font-weight('bold');
}

.tooltip > .tooltip-content, .tooltip.tooltip-top-right > .tooltip-content,
.tooltip .tooltip-content.tooltip-top-right, .tooltip.tooltip-top-left > .tooltip-content,
.tooltip .tooltip-content.tooltip-top-left  {
   background-color: $cobra-dark-blue;
   @include u-font('sans','xs');
   @include u-line-height('sans',3); 
}

.tooltip > .tooltip-content::before, .tooltip.tooltip-top-right > .tooltip-content::before,
.tooltip .tooltip-content.tooltip-top-right::before {
    border-left-color: $cobra-dark-blue;
    border-top-color: $cobra-dark-blue;
}

.tooltip.tooltip-top-left > .tooltip-content::before,
.tooltip .tooltip-content.tooltip-top-left::before {
    border-right-color: $cobra-dark-blue;
    border-top-color: $cobra-dark-blue;
}

.has-tooltip {
   white-space: nowrap;  
}

/* --- USWDS THEMING --- */
/* --- text --- */
.usa-prose h1 {
   @include u-font('sans','lg');
   @include u-line-height('sans',3); 
   font-weight: font-weight('bold');
   @include u-margin-top(0);
} 

.usa-prose h2 {
   @include u-font('sans','lg');
   @include u-line-height('sans',3); 
   @include u-padding-top(3);
   font-weight: font-weight('bold');
   color: $cobra-teal-green;
   @include u-margin-top(0);
}

.usa-prose h3 {
   @include u-font('sans','sm');
   @include u-line-height('sans',3);
   font-weight: font-weight('bold');
}

.usa-prose p {
   @include u-line-height('sans',3);
}

.usa-prose > h1 + * {
   @include u-margin-top(0);
}

.usa-prose a {
   background-color: transparent;
   color: $theme-link-color;
   text-decoration: underline;
}
.usa-prose a:hover {
   color: $theme-link-hover-color;
}
.usa-prose a:visited {
   color: $theme-link-visited-color;
}
.usa-prose a:active {
   color: $theme-link-active-color;
}

/* --- forms --- */
.usa-fieldset, .usa-hint, .usa-select, .usa-range, .usa-input, .usa-textarea, .usa-combo-box__input, .usa-combo-box__list {
   @include u-font('sans','2xs');
}

.usa-fieldset.pollutant  {
   border-bottom: 1px solid #565c65;
   @include u-padding-y(2);
   @include u-margin-top(0);
}

.usa-combo-box__toggle-list, .usa-combo-box__clear-input {
   background-size: auto 0.6rem;
   padding-right: 1.75rem;
   top: 4px;
}

.usa-legend {
   @include u-font('sans','2xs');
   @include u-line-height('sans',2);
   font-weight: font-weight('bold');
}

.usa-select:disabled {
   @include u-bg('base-lightest');
}

.usa-label {
   @include u-font('sans','2xs');
   font-weight: font-weight('bold');
}

.usa-input {
   @include u-font('sans','2xs');
   @include u-width(9);
   @include u-height(4);
}

.usa-input::placeholder {
   color: #1b1b1b !important;
 }
 
.usa-radio__label {
   @include u-font('sans','2xs');
   @include u-line-height('sans',6);
   @include u-padding-left(2);
   font-weight: font-weight('semibold');
}

.usa-radio__label::before {
   @include u-circle(2);
 }

 /* --- buttons --- */
.usa-button {
   text-transform: uppercase;
   background-color: $cobra-teal-green;
   @include u-font('sans','2xs');
   &:hover { 
      background-color: $cobra-dark-teal-green; 
   }
   &:active { 
      box-shadow: inset 0 0 0 2px $cobra-teal-green; 
   }
}

.usa-button--secondary {
   color: white;
   background-color: $cobra-blue;
   &:hover {
      color: white;
      background-color: $cobra-dark-blue;
   }
   &:active {
      box-shadow: inset 0 0 0 2px $cobra-blue; 
   }
}

.usa-button--outline {
   color: $cobra-blue;
   background-color: transparent;
   box-shadow: inset 0 0 0 2px $cobra-blue;
   &:hover {
      color: $cobra-dark-blue;
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $cobra-dark-blue;
   }
   &:active {
      background-color: $cobra-light-blue;
   }
}

.usa-button--unstyled {
   color: $theme-link-color;
   &:hover {
      color: $theme-link-hover-color;
   }
   &:active {
      background-color: $theme-link-active-color;
   }
}

/* --- tables --- */
.usa-table--borderless {
   width:100%;
}

.usa-table--borderless th, .usa-table--borderless td {
   @include u-font('sans','2xs');
   padding: 0.5rem 0 !important;
}

.usa-table--borderless th.cell-lg, .usa-table--borderless td.cell-lg {
   @include u-font('sans','sm');
   font-weight: bold !important;
   padding: 0.5rem 4px 0.5rem 2px !important;
}

.usa-table--borderless td, .usa-table--borderless th {
   padding: 0.5rem 4px 0.5rem 2px !important;
}

.usa-table--numeric td {
   text-align: right;
   background-color: transparent !important;
}

.usa-table--numeric th[scope=row] {
   background-color: transparent !important;
}

.usa-table--numeric tr:hover {
   @include u-bg('base-lightest');
}

.usa-table-container--scrollable {
   margin: 0.25rem 0 !important;
}

/* --- alerts --- */

.usa-alert--info {
   background-color: white;
   background-image: url(../assets/images/info-icon.svg), linear-gradient(transparent, transparent);
   &::before {
      background-color: white;
   }
   
   .usa-alert__body {
      padding-left: 2.75rem;
   }
}

.usa-alert--slim {
   background-position: 0.75rem center;
   background-size: 2.75rem;
}

/* --- tags --- */
.usa-tag {
   background-color: $cobra-purple;
   @include u-margin-left(2px);
}


/* --- MAIN CONTAINERS --- */
.panel {
   @extend .usa-prose;
   @include u-bg('base-lightest');  
   @include u-padding(4);
   @include u-shadow(2);
   border-radius: 2px;

   .subpanel {
      @extend .usa-prose;
      @include u-font('sans','2xs');
      @include u-shadow(2);
      @include u-padding('205');
      @include u-margin-y('205');
      background-color: white;
      overflow: hidden;
      border-radius: 2px;

      >p + *, h3, p {
         @include u-margin-top(0);
      }

      .usa-radio__label {
         display: inline;
      }
   }

   .results {
      display:flex;
      flex-direction:column;
   }
}

.panel-active {
   box-shadow: inset 0 0 0 5px $cobra-mint-green;
   position: relative;
}


.usa-form, .emissions .subpanel, .emissions > .usa-button {
    max-width: 20rem;
}


/* --- SPECIAL FEATRUES --- */

.export-container {
   @extend .clearfix;
   margin-top: 0 !important;
}

//used for 'start' circle 
.panel-circle {
   @include u-circle(8);
   position: absolute;
   top: -30px;
   left: -30px;
	background: $cobra-mint-green;
   text-align: center;
   text-transform: uppercase;

   .panel-circle__inner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
   
   .panel-circle__wrapper {
      display: table;
      width: 100%;
      height: 100%;
   }
   
   .panel-circle__content {
      display: table-cell;
      vertical-align: middle;
      font-weight: font-weight('bold');
   }
}

.no-scenario-screen {
   @include u-padding-y(0);
   height: 295px;
}

.results .no-scenario-screen, .pending-results-screen {
   height: 150vh;
}

.no-scenario-screen .icon, .pending-results-screen .icon {
   width: 36px;
   height: 36px;
   @include u-margin-top(9);
   margin-left: auto;
   margin-right: auto;
}

.no-scenario-screen .message, .pending-results-screen .message {
   @include u-margin-top(2);
   @include u-padding-x(2);
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

.no-scenario-screen .message {
   @include u-text('base'); 
   @include u-font('sans','xl');
   @include u-line-height('sans',3);
}

.pending-results-screen .message {
   @include u-text('base-dark'); 
   @include u-font('sans','sm');
   @include u-line-height('sans',3);
}

.review-help {
   @include u-margin-top(8);

   .icon {
      width: 36px;
      height: 36px;
      @include u-display('inline-block');
      @include u-margin-right(2);
      @include u-text('top');
   }
   
   .message {
      @include u-text('base-dark'); 
      @include u-font('sans','sm');
      @include u-line-height('sans',3);
      @include u-display('inline-block');
      width: 16rem;
   }
}

.edit-help {

   .icon {
      width: 36px;
      height: 36px;
      @include u-display('inline-block');
      @include u-margin-right(6);
      @include u-text('bottom');
      transform: rotate(180deg);
   }

   .message {
      @include u-text('base-dark'); 
      @include u-font('sans','sm');
      @include u-line-height('sans',3);
      @include u-display('inline-block');
      width: 18rem;
   }
}

.edit-help--4line {
   margin-top: 8rem;
}

.edit-help--3line {
   margin-top: 9.5rem;
}

.review-form {
   width:15rem;
}

.switch-field {
   @include u-margin-bottom(1);

   input[type=radio] {
      position: absolute !important;
      opacity:0;
   }

   input[type=radio]:focus + label {
      outline: 2px dotted #171717;
      outline-offset: 1px;
   }

   input[type=radio]:checked + label {
      @include u-padding-x(1);
      @include u-font('sans','3xs');
      margin-top: 0 !important;
      background-color: $cobra-dark-blue;
      color: white;
      font-weight: font-weight('bold');
      box-shadow: inset 0 0 0 2px $cobra-dark-blue; 
      &:hover { 
         background-color: #044880;
         color: white;
         box-shadow: inset 0 0 0 2px #044880; 
      }
      &:active { 
         box-shadow: inset 0 0 0 2px #044880; 
      }
   }
   label {
      @include u-padding(1);
      @include u-font('sans','3xs');
      margin-top: 0 !important;
      @include u-bg('base-lightest'); 
      color: $cobra-dark-blue;
      font-weight: font-weight('bold');
      box-shadow: inset 0 0 0 2px $cobra-dark-blue; 
      &:hover { 
         @include u-bg('base-lightest'); 
         color: #044880; 
         box-shadow: inset 0 0 0 2px #044880; 
         cursor: pointer;
      }
      &:active { 
         box-shadow: inset 0 0 0 2px #044880; 
      }
   }
   label:first-of-type {
      border-radius: 4px 0 0 4px; 
   } 
   label:last-of-type {
      border-radius: 0 4px 4px 0;
   }
}

.export {
   margin-top:0 !important;
   float: right;
}

.discount .usa-radio__label {
   @include u-padding-left('05');
}

.discount-input {
   @include u-height(5);
   @include u-width(10);
   margin-top:-8px;
}


.remove-button {
   background: none !important;
   border: none;
   cursor: pointer; 
   @include u-padding-y(0);
   @include u-padding-x('05');

   &:hover {
      background-color: $cobra-light-blue;
   }
}

/* --- UTILITIES --- */

.text-headline {
   @include u-font('sans','lg');
   @include u-line-height('sans',3); 
   font-weight: font-weight('semibold');
}

.text-highlight {
   @include u-padding-x('05');
   background-color: $cobra-purple;
   color: white;
}

.text-emphasis {
   color:purple;
}

.text-footnote p {
   @include u-font('sans','3xs');
   @include u-line-height('sans',2); 
   padding-left: 10px;
   text-indent: -10px;
}

.animation-text {
   @include u-font('sans','lg');
   font-weight: font-weight('bold');
   color: $cobra-purple;
   text-align: center;
   margin:0;
}

/* --- MEDIA QUERIES --- */

@media (max-width: 575px) {
   .review-form {
      width:20rem;
   }
   .export {
      float: left;
   }
   .units{
      @include u-padding-left('05');
   }
   .usa-alert--info {
      background-position: 0.5rem 0.75rem;
      background-size: 1.75rem;
      .usa-alert__body {
         padding-left: 1.75rem;
     }
   }
   .img-headline {
      width: 35%;
   }
}

@media (max-width: 767px) {
   .review-help, .edit-help {
      display:none; 
   }

   .headline {
      @include u-padding-x(4);
   }
}

@media (max-width: 991px) {
   .panel-circle {
      display:none; 
   }
   
   #step2 {
      visibility: hidden;
   }

   #step3 {
      visibility: hidden;
   }

}

@media (min-width: 992px) and (max-width: 1200px) {
   // accomodates panel-circle spacing
   .grid-container {
      padding-left: 2rem; 
   }
}
