#loading_heart {
	/*transform: translate(-50% -50%);
	position: absolute;
	left: 50%;
  right: 50%;*/
  margin: 0 auto;
  display: table;
}
  
.heart-path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: line 3.5s linear infinite;
}

@keyframes line {
  to {
  stroke-dashoffset: -500;
  }
}