<div id="step2" class="panel">
	<div id="no-review-screen" class="no-scenario-screen" *ngIf="showNoReviewScreen">
		<h1 class="text-base-light margin-top-0">Step 2: Review Scenario</h1>
		<div class="icon">
			<svg viewBox="0 0 512 512" aria-label="Build scenario to begin">
			<title>Build scenario to begin</title><g><g id="no-circle-arrow-left">
			<path fill="#a9aeb1" d="M8 256c0 137 111 248 248 248s248-111 248-248S393 8 256 8 8 119 8 256zm448 0c0 110.5-89.5 200-200 200S56 366.5 56 256 145.5 56 256 56s200 89.5 200 200zm-72-20v40c0 6.6-5.4 12-12 12H256v67c0 10.7-12.9 16-20.5 8.5l-99-99c-4.7-4.7-4.7-12.3 0-17l99-99c7.6-7.6 20.5-2.2 20.5 8.5v67h116c6.6 0 12 5.4 12 12z"></path>
			</g></g></svg>
		</div>
		<div class="message">Build scenario to begin</div>
	</div>
	<div id="review-screen" *ngIf="showReviewScreen">
		<h1>Step 2: Review Scenario</h1>
		<p>Review the scenario below. To add changes to more locations or sectors, repeat Step 1 to continue building your scenario.</p>

		<div class="subpanel">
			<table class="usa-table--borderless">
				<tr>
					<th class="cell-lg">Location(s)</th>
					<th class="cell-lg">Emissions Sector</th>
					<th class="cell-lg">Emissions Modification(s)</th>
					<th aria-label="Remove buttons"></th>
				</tr>
				<tr *ngFor="let component of components">
					<td>
						<div *ngFor="let item of component.stateCountyBadgesList">
							<span>
								{{item}}
							</span>
						</div>
					</td>
					<td>
						<div *ngFor="let tier of component.tierSelections">
							<span *ngIf="tier != null">
								{{tier}}
							</span>
						</div>
					</td>
					<td>
						<div *ngFor="let pollutant of component.pollutantsList">
							<span *ngIf="(pollutant.value != null) && (pollutant.value != '')">{{pollutant.name_sub}} {{pollutant.reduce_increase}} by {{pollutant.value_formatted}}<span *ngIf="pollutant.percent_tons == 'percent'">%</span><span *ngIf="pollutant.percent_tons == 'tons'"> tons</span></span>
						</div>
					</td>
					<td>
						<button class="remove-button" title="Remove" (click)="removeComponent(component.index)">
							<svg xmlns="http://www.w3.org/2000/svg"  aria-labelledby="remove-button" focusable="true" width="12" height="12" viewBox="0 0 24 24"><path fill="#565c65" d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>
						</button>
					</td>
				</tr>
			</table>
		</div>
		
	<div class="grid-row flex- flex-justify">
		<div class="review-help width-mobile grid-auto">
			<div class="icon">
				<svg viewBox="0 0 512 512" aria-label="Need to continue adding locations or emissions changes? Repeat Step 1.">
				<title>Need to continue adding locations, sectors or emissions changes? Repeat Step 1.</title><g><g id="no-circle-arrow-left">
				<path fill="#a9aeb1" d="M8 256c0 137 111 248 248 248s248-111 248-248S393 8 256 8 8 119 8 256zm448 0c0 110.5-89.5 200-200 200S56 366.5 56 256 145.5 56 256 56s200 89.5 200 200zm-72-20v40c0 6.6-5.4 12-12 12H256v67c0 10.7-12.9 16-20.5 8.5l-99-99c-4.7-4.7-4.7-12.3 0-17l99-99c7.6-7.6 20.5-2.2 20.5 8.5v67h116c6.6 0 12 5.4 12 12z"></path>
				</g></g></svg>
			</div>
			<div class="message text-left">Need to continue adding emissions changes to locations or sectors? Repeat Step 1.</div>
		</div>

		<div class="grid-auto">
			<form class="usa-form subpanel margin-top-0 width-card-lg">
				<fieldset class="usa-fieldset discount">	
					<legend class="usa-legend">Discount rate: 
						<clr-tooltip>
							<clr-icon clrTooltipTrigger shape="info-circle" class="is-solid is-info" size="22" aria-label="COBRA uses a discount rate to express future economic values in present terms because not all health effects and associated economic values occur in the year of analysis. (COBRA assumes changes in adult mortality and non-fatal heart attacks occur over a 20-year period.) EPA recommends using both 3% and 7% discount rates. You may also enter a custom discount rate."></clr-icon>
							<clr-tooltip-content clrPosition="top-left" clrSize="lg" *clrIfOpen>
								<span>COBRA uses a discount rate to express future economic values in present terms because not all health effects and associated economic values occur in the year of analysis. (COBRA assumes changes in adult mortality and non-fatal heart attacks occur over a 20-year period.) EPA recommends using both 3% and 7% discount rates. You may also enter a custom discount rate.</span>
							</clr-tooltip-content>
						</clr-tooltip>
					</legend>							
					<div class="usa-radio">
						<input class="usa-radio__input" id="discount_three" type="radio" [(ngModel)]="discountRate" name="rates_discount" value="3" (change)=validateDiscountRateInput()>
						<label class="usa-radio__label" for="discount_three">3%</label>
					</div>
					<div class="usa-radio">
						<input class="usa-radio__input" id="discount_seven" type="radio" [(ngModel)]="discountRate" name="rates_discount" value="7" (change)=validateDiscountRateInput()>
						<label class="usa-radio__label" for="discount_seven">7%</label>
					</div>
					<div class="grid-row flex-row">
						<div class="usa-radio grid-col">
							<input class="usa-radio__input" id="discount_custom" type="radio" [(ngModel)]="discountRate" name="rates_discount" value="custom" (change)=validateDiscountRateInput()>
							<label class="usa-radio__label" for="discount_custom">Custom:</label>
						</div>
						<div class="grid-col">
							<input aria-label="discount custom value input" class="usa-input discount-input" id="discount_custom_value" [(ngModel)]="disCusValue" name="discount_custom_value" type="text" min="0" placeholder="enter %" (input)="validateDiscountRateInput()">
						</div>
					</div>
					<span class="emissions_error_message" *ngIf="this.showErrorNotValid">Enter a positive numeric value.</span>
				</fieldset>
			</form>
		
			<button class="usa-button width-card-lg margin-right-0" id="run_scenario_btn" type="button" (click)="runScenario()" onClick="location.href='#step3'">Run Scenario</button>	
		</div>
		</div>
	</div>
</div>