<div class="row content">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 main-section">
    <br>
    <br>
    <div *ngIf="showLoadAnimation" id="loading_heart" width="80%"><app-loadinganimation></app-loadinganimation></div>
    <div [hidden]="showLoadAnimation" class="panelbar-wrapper" width="80%">
      <kendo-panelbar [expandMode]="single" [keepItemContent]="true" (stateChange)="onStateChange($event)" #panelbar>
        <kendo-panelbar-item [title]="'About COBRA'" [selected]="expandedItem === 'About COBRA'"[expanded]="expandedItem === 'About COBRA'">
          <ng-template kendoPanelBarContent>
            <div class="row d-flex justify-content-center content">
              <div class="col-11 main-section">
                <p>COBRA is a screening tool that enables State, local, and tribal government staff and others interested in the effects of air pollution to obtain a first-order approximation of the air quality and health benefits of different emissions scenarios.</p>
                <p>COBRA works by estimating how changes in air pollution affect regional air quality. You can create scenarios by entering reductions or increases in emissions. COBRA then translates those changes in emissions into changes in the amount of fine particulate matter (PM2.5) in the air.</p>
                <p>The model does not require expertise in air quality modeling, health effects assessment, or economic valuation. COBRA includes a pre-loaded emissions inventory projection for 2023 and a simplified air quality model that accounts for the transport of air pollution emissions between states and counties. COBRA uses health impact equations and economic valuations functions that are based on assumptions that EPA currently uses in regulatory analyses.</p>
                <p>Analyses can be performed at the state or county level and across the 14 major emissions categories (called “tiers”) included in the National Emissions Inventory. COBRA presents results at the county level, in both tables and maps.</p>
                <p>Note that COBRA is intended as a screening tool. More sophisticated, albeit more time- and resource-intensive, modeling approaches are currently available to obtain a more refined picture of the health and economic impacts of changes in emissions.</p>
              </div>
            </div>
          </ng-template>
        </kendo-panelbar-item>
        <kendo-panelbar-item [title]="'Create Scenario'" [selected]="expandedItem === 'Create Scenario'"[expanded]="expandedItem === 'Create Scenario'">
          <ng-template kendoPanelBarContent>
            <app-emissionssection (theEmitter)="processEmittedEvent($event)"></app-emissionssection>
          </ng-template>  
        </kendo-panelbar-item>
        <kendo-panelbar-item [title]="'Review Scenario'" [selected]="expandedItem === 'Review Scenario'"[expanded]="expandedItem === 'Review Scenario'">
          <ng-template kendoPanelBarContent >
            <app-d3section (theEmitter)="processEmittedEvent($event)"></app-d3section>
          </ng-template>
        </kendo-panelbar-item>
        <kendo-panelbar-item [title]="'Results'" [selected]="expandedItem === 'Results'"[expanded]="expandedItem === 'Results'">
          <ng-template kendoPanelBarContent>
            <app-resultssection (theEmitter)="processEmittedEvent($event)"></app-resultssection>
          </ng-template>
        </kendo-panelbar-item>
      </kendo-panelbar>
    </div>
    </div>
  </div>
