#statetree_spinner {
	text-align: center;
    margin: 30px 0;
}

.states_tree_view {
	height: 245px;
	margin: 12px 0 0 0;
	padding-top: 6px;
	overflow: scroll;
	overflow-x: hidden;
	border: solid 1px #a3a3a3;
	background-color: #fff;
}
