<div id="final_results" class="margTop">
  <button kendoButton (click)="command({ action: 'results', param1: $event })">Download Results</button>
  <div class="row content">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 main-section">
      <br>
      <br>
      <br>
        <kendo-dropdownlist 
          [data]="this.states" 
          [textField]="'text'" 
          [valueField]="'value'" 
          [defaultItem]="ddstate_defaultItem" 
          (selectionChange)="selectionChange($event)"
          >
        </kendo-dropdownlist>
    </div>

    <div class="row content">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 main-section">
        <br>
        <br>
        <button kendoButton (click)="SummaryExport()">Download Summary</button>
      </div>
  
  <div class="row content">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 main-section">
      <style type="text/css">
        td {
          padding: 5px 15px;
          border: 1px solid #ddd;
        }
      </style>
      <table class="hbTable" style="margin: 0 auto; border: 1px solid #ddd;">
        <tbody>
          <tr style="font-weight: bold;">
            <td colspan="2">Total Health Benefits</td>
          </tr>
          <tr style="font-weight: bold;">
            <td>{{this.TotalHealthBenefitsValue_low}}</td>
            <td>{{this.TotalHealthBenefitsValue_high}}</td>
          </tr>
          <tr style="font-weight: bold;">
            <td>Low Value</td>
            <td>High Value</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  <br>

  <div class="row content">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 main-section">
      <style type="text/css">
        td {
          padding: 5px 15px;
          border: 1px solid #ddd;
        }
      </style>
      <table class="resultsTable" style="margin: 0 auto; border: 1px solid #ddd;">
        <tbody>
          <tr style="font-weight: bold;">
            <td></td>
            <td colspan="2">Change in Incidence</td>
            <td colspan="2">Monetary Value</td>
          </tr>
          <tr style="font-weight: bold;">
            <td>Mortality</td>
            <td colspan="2">{{Mortality_low}} / {{Mortality_high}}</td>
            <td colspan="2">{{MortalityValue_low}} / {{MortalityValue_high}}</td>
          </tr>
          <tr style="font-weight: bold;">
            <td>Nonfatal Heart Attacks</td>
            <td colspan="2">{{NonfatalHeartAttacks_low}} / {{NonfatalHeartAttacks_high}}</td>
            <td colspan="2">{{NonfatalHeartAttacksValue_low}} / {{NonfatalHeartAttacksValue_high}}</td>
          </tr>
          <tr style="font-weight: bold;">
            <td>Infant Mortality</td>
            <td colspan="2">{{this.InfantMortality}}</td>
            <td colspan="2">{{this.InfantMortalityValue}}</td>
          </tr>
          <tr style="font-weight: bold;">
            <td> Hospital Admits, All Respiratory</td>
            <td colspan="2">{{this.HospitalAdmitsAllRespiratory}}</td>
            <td colspan="2">{{this.HospitalAdmitsAllRespiratoryValue}}</td>
          </tr>
          <tr style="font-weight: bold;">
            <td>Hospital Admits, Cardiovascular (except heart attacks)</td>
            <td colspan="2">{{this.HospitalAdmitsCardiovascularexceptheartattacks}}</td>
            <td colspan="2">{{this.HospitalAdmitsCardiovascularexceptheartattacksValue}}</td>
          </tr>
          <tr style="font-weight: bold;">
            <td>Acute Bronchitis</td>
            <td colspan="2">{{this.AcuteBronchitis}}</td>
            <td colspan="2">{{this.AcuteBronchitisValue}}</td>
          </tr>
          <tr style="font-weight: bold;">
            <td>Upper Respiratory Symptoms</td>
            <td colspan="2">{{this.UpperRespiratorySymptoms}}</td>
            <td colspan="2">{{this.UpperRespiratorySymptomsValue}}</td>
          </tr>
          <tr style="font-weight: bold;">
            <td>Lower Respiratory Symptoms</td>
            <td colspan="2">{{this.LowerRespiratorySymptoms}}</td>
            <td colspan="2">{{this.LowerRespiratorySymptomsValue}}</td>
          </tr>
          <tr style="font-weight: bold;">
            <td>Emergency Room Visits, Asthma</td>
            <td colspan="2">{{this.EmergencyRoomVisitsAsthma}}</td>
            <td colspan="2">{{this.EmergencyRoomVisitsAsthmaValue}}</td>
          </tr>
          <tr style="font-weight: bold;">
            <td>Asthma Exacerbation</td>
            <td colspan="2">{{this.AsthmaExacerbation}}</td>
            <td colspan="2">{{this.AsthmaExacerbationValue}}</td>
          </tr>
          <tr style="font-weight: bold;">
            <td>Minor Restricted Activity Days</td>
            <td colspan="2">{{this.MinorRestrictedActivityDays}}</td>
            <td colspan="2">{{this.MinorRestrictedActivityDaysValue}}</td>
          </tr>
          <tr style="font-weight: bold;">
            <td>Work Loss Days</td>
            <td colspan="2">{{this.WorkLossDays}}</td>
            <td colspan="2">{{this.WorkLossDaysValue}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!--<div class="row d-flex justify-content-center content">
    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11">
      <br>
      <br>
      <div class="grid-wrapper">
        <kendo-grid [data]="gridView" [height]="410" [pageSize]="pageSize" [skip]="skip" [pageable]="true"
          (pageChange)="pageChange($event)">
          <kendo-grid-column field="ID" title="ID" width="250"></kendo-grid-column>
          <kendo-grid-column field="destindx" title="destindx" width="250"></kendo-grid-column>
          <kendo-grid-column field="FIPS" title="FIPS" width="250"></kendo-grid-column>
          <kendo-grid-column field="STATE" title="STATE" width="250"></kendo-grid-column>
          <kendo-grid-column field="COUNTY" title="COUNTY" width="250"></kendo-grid-column>

          <kendo-grid-column field="BASE_FINAL_PM" title="BASE_FINAL_PM" width="250"></kendo-grid-column>
          <kendo-grid-column field="CTRL_FINAL_PM" title="CTRL_FINAL_PM" width="250"></kendo-grid-column>
          <kendo-grid-column field="DELTA_FINAL_PM" title="DELTA_FINAL_PM"></kendo-grid-column>
          <kendo-grid-column field="Acute_Bronchitis" title="Acute_Bronchitis" width="250"></kendo-grid-column>
          <kendo-grid-column field="Acute_Myocardial_Infarction_Nonfatal__high_"
            title="Acute_Myocardial_Infarction_Nonfatal__high_" width="250"></kendo-grid-column>
          <kendo-grid-column field="Acute_Myocardial_Infarction_Nonfatal__low_"
            title="Acute_Myocardial_Infarction_Nonfatal__low_" width="250"></kendo-grid-column>
          <kendo-grid-column field="Asthma_Exacerbation_Cough" title="Asthma_Exacerbation_Cough" width="250">
          </kendo-grid-column>
          <kendo-grid-column field="Asthma_Exacerbation_Shortness_of_Breath"
            title="Asthma_Exacerbation_Shortness_of_Breath" width="250"></kendo-grid-column>
          <kendo-grid-column field="Asthma_Exacerbation_Wheeze" title="Asthma_Exacerbation_Wheeze" width="250">
          </kendo-grid-column>
          <kendo-grid-column field="Emergency_Room_Visits_Asthma" title="Emergency_Room_Visits_Asthma" width="250">
          </kendo-grid-column>
          <kendo-grid-column field="HA_All_Cardiovascular__less_Myocardial_Infarctions_"
            title="HA_All_Cardiovascular__less_Myocardial_Infarctions_" width="250"></kendo-grid-column>
          <kendo-grid-column field="HA_All_Respiratory" title="HA_All_Respiratory" width="250"></kendo-grid-column>
          <kendo-grid-column field="HA_Asthma" title="HA_Asthma" width="250"></kendo-grid-column>
          <kendo-grid-column field="HA_Chronic_Lung_Disease" title="HA_Chronic_Lung_Disease" width="250">
          </kendo-grid-column>
          <kendo-grid-column field="Lower_Respiratory_Symptoms" title="Lower_Respiratory_Symptoms" width="250">
          </kendo-grid-column>
          <kendo-grid-column field="Minor_Restricted_Activity_Days" title="Minor_Restricted_Activity_Days" width="250">
          </kendo-grid-column>
          <kendo-grid-column field="Mortality_All_Cause__low_" title="Mortality_All_Cause__low_" width="250">
          </kendo-grid-column>
          <kendo-grid-column field="Mortality_All_Cause__high_" title="Mortality_All_Cause__high_" width="250">
          </kendo-grid-column>
          <kendo-grid-column field="Infant_Mortality" title="Infant_Mortality" width="250"></kendo-grid-column>
          <kendo-grid-column field="Upper_Respiratory_Symptoms" title="Upper_Respiratory_Symptoms" width="250">
          </kendo-grid-column>
          <kendo-grid-column field="Work_Loss_Days" title="Work_Loss_Days" width="250"></kendo-grid-column>

          <kendo-grid-column field="C__Acute_Bronchitis" title="C__Acute_Bronchitis" width="250"></kendo-grid-column>
          <kendo-grid-column field="C__Acute_Myocardial_Infarction_Nonfatal__high_"
            title="C__Acute_Myocardial_Infarction_Nonfatal__high_" width="250"></kendo-grid-column>
          <kendo-grid-column field="C__Acute_Myocardial_Infarction_Nonfatal__low_"
            title="C__Acute_Myocardial_Infarction_Nonfatal__low_" width="250"></kendo-grid-column>
          <kendo-grid-column field="C__Asthma_Exacerbation" title="C__Asthma_Exacerbation" width="250">
          </kendo-grid-column>
          <kendo-grid-column field="C__Emergency_Room_Visits_Asthma" title="C__Emergency_Room_Visits_Asthma" width="250">
          </kendo-grid-column>
          <kendo-grid-column field="C__CVD_Hosp_Adm" title="C__CVD_Hosp_Adm" width="250"></kendo-grid-column>
          <kendo-grid-column field="C__Resp_Hosp_Adm" title="C__Resp_Hosp_Adm" width="250"></kendo-grid-column>
          <kendo-grid-column field="C__Lower_Respiratory_Symptoms" title="C__Lower_Respiratory_Symptoms" width="250">
          </kendo-grid-column>
          <kendo-grid-column field="C__Minor_Restricted_Activity_Days" title="C__Minor_Restricted_Activity_Days"
            width="250"></kendo-grid-column>

          <kendo-grid-column field="C__Mortality_All_Cause__low_" title="C__Mortality_All_Cause__low_" width="250">
          </kendo-grid-column>
          <kendo-grid-column field="C__Mortality_All_Cause__high_" title="C__Mortality_All_Cause__high_" width="250">
          </kendo-grid-column>
          <kendo-grid-column field="C__Infant_Mortality" title="C__Infant_Mortality" width="250"></kendo-grid-column>
          <kendo-grid-column field="C__Upper_Respiratory_Symptoms" title="C__Upper_Respiratory_Symptoms" width="250">
          </kendo-grid-column>
          <kendo-grid-column field="C__Work_Loss_Days" title="C__Work_Loss_Days" width="250"></kendo-grid-column>
          <kendo-grid-excel fileName="Results.xlsx" [fetchData]="allData"></kendo-grid-excel>
        </kendo-grid>
      </div>
    </div>
  </div>-->
</div>
<svg width="960" height="600">
</svg>
